AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile /var/www/dod-product/passwd
Require user admin

#/home/users/vitcvftp/vitamingummiesbestelpagina.nl
DirectoryIndex indexp.php

<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]
    RewriteRule .? index.php [L]

</IfModule>